    .Bat {
        position: absolute;
        width: 100px;
        height: 146.37px;
        left: 670px;
        top: 30px;
        background: url(batman.png);
    }
    
    .CV {
        position: absolute;
        width: 1013px;
        height: 29.87px;
        left: 213px;
        top: 220px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 84.69%;
        /* identical to box height, or 30px */
        font-feature-settings: 'cpsp' on;
        color: #005677;
    }
    
    div {
        position: relative;
        top: 150px;
    }
    
    .atrasDeBat {
        position: absolute;
        width: 1440px;
        height: 188.19px;
        left: 0px;
        top: 0px;
        background: #E6E6E6;
    }
    
    .atrasDeCV {
        position: absolute;
        width: 1440px;
        height: 60px;
        left: 7px;
        top: 205px;
        background: #C4C4C4;
    }
    
    .atrasDeDatosPersonales {
        position: relative;
        width: 1440px;
        height: 30px;
        left: 0px;
        top: 55px;
        background: #C4C4C4;
    }
    
    .atrasDeFormacionAcademica {
        position: absolute;
        width: 1440px;
        height: 30px;
        left: 0px;
        top: 180px;
        background: #C4C4C4;
    }
    
    .atrasDeExperienciaLaboral {
        position: absolute;
        width: 1440px;
        height: 30px;
        left: 0px;
        top: 322px;
        background: #C4C4C4;
    }
    
    h2 {
        position: relative;
        width: 395.62px;
        height: 17px;
        left: 12.45px;
        top: 10px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 84.69%;
        font-feature-settings: 'cpsp' on;
        color: #005677;
    }
    
    .lii {
        font-family: 'Times New Roman';
        font-style: italic;
        font-size: 15px;
        line-height: 84.69%;
        color: #000000;
    }
    
    .listU {
        position: relative;
        top: 12px;
    }
    
    .datosFormacionExpe {
        position: relative;
        top: 12px;
        list-style-type: "";
    }
    
    .segundaLinea {
        margin-left: 20px;
    }
    
    .batman {
        position: relative;
        width: 240px;
        height: 37px;
        left: 0px;
        top: 255px;
        z-index: 4;
    }
    
    .linkedin {
        position: relative;
        width: 240px;
        height: 31px;
        left: 750px;
        top: 250px;
        z-index: 5;
    }
    
    .logoInsta {
        position: relative;
        width: 240px;
        height: 31px;
        left: 430px;
        top: 250px;
        z-index: 6;
    }
    
    .barraAzul {
        position: absolute;
        width: 1440px;
        height: 37px;
        left: 0px;
        top: 975px;
    }